
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
</head>
<body>
    <div style="align-items: center;">
        <h3>Now it's Elective Period</h3>
        <ul>
            <li>
                <H5>Click here to join <a href="PDSjoin"><i>PRODUCT DEVELOPMENT STRATEGIES</i></a> class</H5>
            </li>
            <li>
                <H5>Click here to join <a href="ADDIjoin"><i>ADDITIVE MANUFACTURING</i></a> class</H5>
            </li>
        </ul>
    </div>
</body>
</html>